/**
 * Tomatillo Design Style Salvage 2025 - Replacement CSS
 * 
 * Add your replacement styles here for any stylesheets that failed to load.
 * This file will be enqueued as a fallback when original stylesheets are missing.
 */

/* clb-icon-cards plugin styles */
.clb-icon-card-area {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
    transition: all ease-in-out .35s;
    border-radius: 5px;
}

.clb-icon-card-area.foreground-text-light, .clb-icon-card-area.foreground-text-light a {
    color: #fff;
}

.icon-card-grid {
    display: grid;
    column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 769px) {
    .icon-card-grid.columns-2 {
        grid-template-columns: 1fr 1fr;
    }

    .icon-card-grid.columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .icon-card-grid.columns-4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1160px) {
    .icon-card-grid.columns-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.clb-icon-card-area.foreground-text-dark, .clb-icon-card-area.foreground-text-dark a {
    color: #222;
}

.clb-icon-card-area a {
    text-decoration: none;
}

.clb_card__title {
    margin-top: 20px;
}

.clb-icon-card-area:hover {
    transform: translate3d(0,-6px,0);
}

